# Environment variables & secrets
.env
.env.*
!.env.example

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Node & Frontend dependencies/build
node_modules/
dist/
dist-ssr/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Database & IDE
*.sqlite3
*.db
.vscode/
.idea/
.DS_Store
